/*
 * reactstrap override
 * reactstrap 에 디자인 적용
 */

.form-control {
  background-color: var(--bg-form-control);
  border-color: var(--color-form-control-border);
  color: var(--color-form-control-text);

  &:focus {
    background-color: var(--bg-body);
    color: var(--color-form-control-text);
  }

}

.dark {
  .form-select {
    background-color: #555;
    border-color: #333;
    color: var(--color-text)
  }
}

.table {
  color: var(--color-text);
  border-color: var(--color-datagrid-border);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: var(--color-text);
}


.btn-outline.btn-outline-white {
  border-color: var(--bg-btn-outline-white-border);
  color: var(--color-btn-outline-white);

  &:hover {
    background: var(--bg-btn-outline-white-hover);
    border-color: var(--bg-btn-outline-white-border);
  }
}

.badge-chip {
  padding: 2px 10px;
  border-radius: 3px;
  background: var(--bg-badge-status-default);

  &.approved {
    background: var(--bg-badge-status-approved);
  }

  &.submitted {
    background: var(--bg-badge-status-submitted);
  }

  &.declined {
    color: var(--color-badge-status-declined);
    background: var(--bg-badge-status-declined);
  }

}

// Modal 에서 버튼 가운데 정렬, border 없는 경우 등 추가
.modal-dialog {
  .modal-footer {
    &.center {
      justify-content: center;
    }

    &.no-border-top {
      border-top: none;
    }
  }
}


/*
 * @mui override
 * Material UI 에 디자인 적용
 */

// Buttons
.MuiButtonBase-root {
  &.btn-primary {
    background: var(--bs-primary);
  }

  &.btn-outline {
    background: var(--white);
  }

  &.btn-error {
    color: #fff;
    background: var(--red);
  }

}

.MuiAccordion-root {
  &.no-shadow {
    box-shadow: none;
  }
}

.MuiPaper-root.MuiAccordion-root.Mui-expanded {
  background-color: var(--bg-sidemenu-expanded);
}


/*
 * devextreme mui override
 */
.dx-toolbar {
  background-color: var(--bg-body);
}

.dx-datagrid-header-panel {
  padding: 0;
  background-color: var(--bg-body);
}

.dx-datagrid-headers,
.dx-datagrid-filter-row {
  background-color: var(--bg-datagrid-headers);
  color: var(--color-text);
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom-color: var(--color-datagrid-border);
  border-right-color: var(--color-datagrid-border);
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover .dx-datagrid-text-content {
  color: var(--color-text);
}

.dx-datagrid-headers.dx-header-multi-row .dx-datagrid-content .dx-datagrid-table .dx-row.dx-header-row > td {
  border-right-color: var(--color-datagrid-border);
}

// 헤더 검색필드
.dx-texteditor.dx-state-active::before,
.dx-texteditor.dx-state-focused::before {
  border-bottom: 2px solid var(--bs-primary);
}

.dx-datagrid {
  background-color: var(--bg-datagrid);
  color: var(--color-text);

  // 필터 아이콘
  .dx-header-filter-empty {
    color: var(--color-filter-icon);
  }

  .dx-editor-cell .dx-texteditor .dx-texteditor-input {
    background: var(--bg-datagrid-headers);
  }

  .dx-link {
    color: var(--color-dx-link);

    &.dx-link-icon {
      width: 30px;
      height: 30px;

    }
  }

  // 그리드 border
  .dx-row-lines > td {
    border-bottom-color: var(--color-datagrid-border);
  }

  .dx-column-lines > td {
    border-right-color: var(--color-datagrid-border);
  }

  .dx-row-alt > td {
    background-color: var(--bg-datagrid-selected-row);
    border-top-color: var(--color-datagrid-border);
  }

}

// 그리드 border
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused).dx-row-lines > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover.dx-row-lines > td {
  border-bottom-color: var(--color-datagrid-border);
}

// 선택된 row
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td {
  background-color: var(--bg-datagrid-selected-row);
  color: var(--color-datagrid-selected-row);
}

// 검색창 focused 시 하단 라인 컬러...
.dx-datagrid-focus-overlay:after {
  background-color: var(--color-input-focus-border);
}

.dx-datagrid-borders > .dx-datagrid-rowsview,
.dx-datagrid-borders > .dx-datagrid-headers {
  border-left-color: var(--color-datagrid-border);
  border-right-color: var(--color-datagrid-border);
}

.dx-datagrid-borders > .dx-datagrid-filter-panel,
.dx-datagrid-borders > .dx-datagrid-headers {
  border-top-color: var(--color-datagrid-border);
}

// 정렬 화살표 아이콘
.dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-sort,
.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover .dx-sort,
.dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-sort-indicator,
.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover .dx-datagrid-text-content {
  color: var(--color-filter-icon);
}

// 그리드의 각종 텍스트 입력창
.dx-texteditor-input {
  color: var(--color-text);
}

.dx-texteditor.dx-editor-filled {
  background-color: var(--bg-datagrid-headers);

  &::after {
    border-bottom-color: var(--color-datagrid-border);
  }

  &.dx-state-hover {
    //background-color: var(--bg-datagrid-row-hover);
    background-color: var(--bg-datagrid-headers);
    //background-color: #edeff2;
    &::after {
      border-bottom-color: var(--color-datagrid-border);
    }
  }

  &.dx-state-focused::before {
    border-bottom: var(--color-input-focus-border) 1px solid;
  }
}

.dx-searchbox .dx-icon-search {
  color: var(--color-seachbox-icon);

  &::before {
    color: inherit;
  }
}

// 필터메뉴: 그리드 헤더 돋보기 아이콘 오버 시 나타나는 드롭다운 메뉴들...
.dx-context-menu {
  .dx-submenu {
    background-color: var(--bg-datagrid-submenu);
  }

  .dx-menu-item {
    color: var(--color-datagrid-submenu-item);
  }
}

.dx-menu-item-selected {
  background-color: var(--bg-datagrid-submenu-item-selected);
}

.dx-datagrid.dx-filter-menu .dx-menu-item-content .dx-icon {
  color: var(--color-datagrid-submenu-item);
}

.dx-menu-item-expanded,
.dx-menu-item-expanded.dx-state-focused {
  background: var(--bg-filter-icon);
}

.dx-item.dx-state-hover {
  background: var(--bg-filter-icon);
}

.dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  color: var(--color-filter-icon);
}


// 셀렉트 하단 드롭다운
.dx-list {
  background: var(--bg-datagrid-submenu);

  .dx-empty-message {
    color: var(--color-datagrid-submenu-item);
  }
}

.dx-list-item {
  color: var(--color-datagrid-submenu-item);
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
  background-color: var(--bg-datagrid-submenu-item-selected);
  color: var(--color-datagrid-submenu-item);
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused) {
  background-color: var(--bg-datagrid-submenu-item-selected);
  color: var(--color-datagrid-submenu-item);
}

.dx-list-select-all::after {
  background-color: var(--color-datagrid-border);
}

.dx-header-filter-menu .dx-popup-content {
  border-bottom-color: var(--color-datagrid-border);
}

.dx-datagrid-borders > .dx-datagrid-rowsview,
.dx-datagrid-borders > .dx-datagrid-total-footer {
  border-bottom-color: var(--color-datagrid-border);
}

// 각종 드롭다운의 컨테이너가 팝업...
.dx-popup-wrapper > .dx-overlay-content,
.dx-popup-wrapper .dx-toolbar {
  background: var(--bg-datagrid-submenu);
}

.dx-popup-wrapper {
  .dx-calendar {
    background: var(--bg-dx-popup-calendar);
  }

  .dx-calendar-navigator .dx-button {
    color: var(--bs-primary);
  }
}

.dx-calendar-body table th {
  color: var(--color-dx-calendar-cell);
}

.dx-calendar-navigator-previous-month.dx-button .dx-icon,
.dx-calendar-navigator-previous-view.dx-button .dx-icon {
  color: var(--bs-primary);
}

.dx-calendar-cell {
  color: var(--color-dx-calendar-cell);
}

.dx-calendar-cell.dx-calendar-today {
  color: var(--color-input-focus-border);
}

//.dx-calendar-cell.dx-calendar-today span,
.dx-calendar-cell.dx-calendar-selected-date span,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today span {
  background: var(--bs-primary);
  color: #fff;
}

.dx-calendar-cell.dx-state-hover {
  background: var(--bg-dx-calendar-cell-hover);
}

.dx-widget {
  color: var(--color-text);
}

.dx-button-mode-text.dx-button-default {
  color: var(--bs-primary);
}

.dx-button-mode-text.dx-button-default.dx-state-focused,
.dx-button-mode-text.dx-button-default.dx-state-hover {
  background-color: var(--bg-text-button-hover);
}

// 체크박스
.dx-checkbox-icon {
  border-color: var(--color-filter-icon);
}

// 페이징
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: var(--bs-primary);
}

.dx-checkbox-checked .dx-checkbox-icon,
.dx-checkbox-indeterminate .dx-checkbox-icon {
  background-color: var(--bs-primary);
}

.dx-checkbox.dx-checkbox-checked.dx-state-disabled .dx-checkbox-icon,
.dx-checkbox.dx-checkbox-checked.dx-state-readonly .dx-checkbox-icon,
.dx-checkbox.dx-checkbox-indeterminate.dx-state-disabled .dx-checkbox-icon,
.dx-checkbox.dx-checkbox-indeterminate.dx-state-readonly .dx-checkbox-icon {
  background-color: var(--bs-primary);
  opacity: 0.3;
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) {
  & > td:not(.dx-focused) {
    background-color: var(--bg-datagrid-row-hover);
  }
}


// sweetalert2 override
// sweetalert2 의 customclass 를 cancer-dialog 로 한다.
.cancer-dialog,
.swal2-wide-textarea-container {
  .swal2-styled.swal2-confirm {
    background-color: var(--bs-primary);
  }

  .swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(13 110 253 / 50%);
  }

}

