/*
 * reactstrap Override
 * reactstrap 에 디자인 적용
 */

.btn-outline.btn-outline-white {
  border-color: var(--bg-btn-outline-white-border);
  color: var(--color-btn-outline-white);

  &:hover {
    background: var(--bg-btn-outline-white-hover);
    border-color: var(--bg-btn-outline-white-border);
  }
}

.badge-chip {
  padding: 2px 10px;
  border-radius: 3px;
  background: var(--bg-badge-status-default);

  &.approved {
    background: var(--bg-badge-status-approved);
  }

  &.submitted {
    background: var(--bg-badge-status-submitted);
  }

  &.declined {
    color: var(--color-badge-status-declined);
    background: var(--bg-badge-status-declined);
  }

}

// Modal 에서 버튼 가운데 정렬, border 없는 경우 등 추가
.modal-dialog {
  .modal-footer {
    &.center {
      justify-content: center;
    }

    &.no-border-top {
      border-top: none;
    }
  }
}


/*
 * @mui Override
 * Material UI 에 디자인 적용
 */

// Buttons
.MuiButtonBase-root {
  &.btn-primary {
    background: var(--bs-primary);
  }

  &.btn-outline {
    background: var(--white);
  }

  &.btn-error {
    color: #fff;
    background: var(--red);
  }

}

.MuiAccordion-root {
  &.no-shadow {
    box-shadow: none;
  }
}


/*
 * devextreme mui Override
 * David 추가
 */
.dx-datagrid-header-panel {
  padding: 0;
}

.dx-datagrid-headers,
.dx-datagrid-filter-row {
  background-color: var(--bg-datagrid-headers);
}

// 헤더 검색필드
.dx-texteditor.dx-state-active::before,
.dx-texteditor.dx-state-focused::before {
  border-bottom: 2px solid var(--bs-primary);
}

.dx-datagrid {
  .dx-link {
    color: var(--color-dx-link);

    &.dx-link-icon {
      width: 30px;
      height: 30px;

    }
  }
}

// 페이징
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: var(--bs-primary);
}

.dx-checkbox-checked .dx-checkbox-icon,
.dx-checkbox-indeterminate .dx-checkbox-icon {
  background-color: var(--bs-primary);
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) {
  & > td:not(.dx-focused) {
    background-color: var(--bg-datagrid-row-hover);
  }
}
