/*
 * reactstrap Override
 * reactstrap 에 디자인 적용
 */

.btn-outline.btn-outline-white {
  border-color: var(--bg-btn-outline-white-border);
  color: var(--color-btn-outline-white);

  &:hover {
    background: var(--bg-btn-outline-white-hover);
    border-color: var(--bg-btn-outline-white-border);
  }
}

.badge-chip {
  padding: 2px 10px;
  border-radius: 3px;
  background: var(--bg-badge-status-default);

  &.approved {
    background: var(--bg-badge-status-approved);
  }

  &.submitted {
    background: var(--bg-badge-status-submitted);
  }

  &.declined {
    color: var(--color-badge-status-declined);
    background: var(--bg-badge-status-declined);
  }

}

// Modal 에서 버튼 가운데 정렬, border 없는 경우 등 추가
.modal-dialog {
  .modal-footer {
    &.center {
      justify-content: center;
    }

    &.no-border-top {
      border-top: none;
    }
  }
}


/*
 * @mui Override
 * Material UI 에 디자인 적용
 */

// Buttons
.MuiButtonBase-root {
  &.btn-primary {
    background: var(--bs-primary);
  }

  &.btn-outline {
    background: var(--white);
  }

  &.btn-error {
    color: #fff;
    background: var(--red);
  }

}

.MuiAccordion-root {
  &.no-shadow {
    box-shadow: none;
  }
}


/*
 * devextreme mui Override
 * David 추가
 */
.dx-toolbar {
  background-color: var(--bg-body);
}

.dx-datagrid-header-panel {
  padding: 0;
  background-color: var(--bg-body);
}

.dx-datagrid-headers,
.dx-datagrid-filter-row {
  background-color: var(--bg-datagrid-headers);
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border-bottom-color: var(--color-datagrid-border);
  border-right-color: var(--color-datagrid-border);
}

.dx-datagrid-borders {
  .dx-datagrid-rowsview {
    border-color: var(--color-datagrid-border);
  }
}

// 헤더 검색필드
.dx-texteditor.dx-state-active::before,
.dx-texteditor.dx-state-focused::before {
  border-bottom: 2px solid var(--bs-primary);
}

//
.dx-editor-cell .dx-texteditor .dx-texteditor-input {
  background: var(--bg-datagrid-headers);
}

.dx-datagrid {
  background-color: var(--bg-datagrid);

  .dx-link {
    color: var(--color-dx-link);

    &.dx-link-icon {
      width: 30px;
      height: 30px;

    }
  }
}

// 행 편집 팝업 입력창
.dx-texteditor.dx-editor-filled::after {
  border-bottom: #e0e0e0 1px solid;
}

.dx-texteditor.dx-editor-filled {
  background-color: var(--bg-datagrid-headers);

  &.dx-state-hover {
    //background-color: var(--bg-datagrid-row-hover);
    background-color: #edeff2;
  }
}

.dx-button-mode-text.dx-button-default {
  color: var(--bs-primary);
}

// 페이징
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: var(--bs-primary);
}

.dx-checkbox-checked .dx-checkbox-icon,
.dx-checkbox-indeterminate .dx-checkbox-icon {
  background-color: var(--bs-primary);
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) {
  & > td:not(.dx-focused) {
    background-color: var(--bg-datagrid-row-hover);
  }
}

// sweetalert2 override
// sweetalert2 의 customclass 를 cancer-dialog 로 한다.
.cancer-dialog,
.swal2-wide-textarea-container {
  .swal2-styled.swal2-confirm {
    background-color: var(--bs-primary);
  }

  .swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(13 110 253 / 50%);
  }

}

