// Override Boostrap variables
// Import Bootstrap source files from node_modules
@import '~bootstrap/scss/bootstrap';

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Malgun Gothic", "맑은 고딕", Helvetica, Arial, "Apple SD Gothic Neo", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --white: #fff;
  --red: #E55041;
  --width-sidemenu: 210px;
  --bg-sidemenu: #455364;
  --bs-primary: #4285F4;
  --color-btn-outline-white: #222;
  --bg-btn-outline-white-hover: #f7f7f7;
  --bg-btn-outline-white-border: #eee;
  --bg-datagrid-headers: #F1F4F8;
  --bg-datagrid-row-hover: #f6f6f6;
  --color-dx-link: #69707D;
  --bg-badge-status-default: #E0E5EE;
  --bg-badge-status-approved: #FFC65B;
  --bg-badge-status-submitted: #88bfec;
  --bg-badge-status-declined: #FFDEDE;
  --color-badge-status-declined: #E55041;
  --side-nav-link-color: #fff;
}

.alert {
  --bs-alert-border-radius: 0;

  p {
    margin: 0;
  }
}

.alert-secondary {
  --bs-alert-bg: #f6f6f6;
  --bs-alert-border-color: #f6f6f6;
}

// dark mode 변수모음
.dark {
  --white: #333;
  --bs-primary: #454545;
  --side-nav-link-color: #fff;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bg-sidemenu);
  }
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

body {
  background: #fff;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.6rem;
}

a {
  color: #533f03;
  font-weight: bold;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.app-container {
  box-sizing: border-box;
  padding-left: var(--width-sidemenu);

  .view-container {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    //padding: 1rem;
    padding: 0;

    .card {
      padding: 1rem;
    }

    .view-routes {
      height: 100%;

      > div {
        height: 100%;
      }

      // 메인 페이지
      > .wrap-home {
        height: calc(100vh);
        background: #fff url("./asset/img/bg-main.png") right bottom no-repeat;
        background-size: contain;

        display: flex;
        align-items: center;

        .area-home-title {
          transform: translateY(-50px);

          .sub-title {
            font-size: 22px;
          }

        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
        }

      }
    }
  }

  .wrap-home {
    padding-left: 318px;
  }

  &.no-auth {
    padding-left: 0;
  }

  .area-snuh-logo {
    display: block;
    position: absolute;
    top: 30px;
    left: 25px;
    width: 152px;
    height: 84px;
    background: url("./asset/img/logo-snuh.png") 0 0 no-repeat;
    background-size: 152px;
  }

  .area-bottom-logo {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 157px;
    height: 51px;
    background: url("./asset/img/logo-p.png") 0 0 no-repeat;
    background-size: 152px;
  }

  // 로그인
  .area-login {
    .sub-title {
      font-size: 22px;
      margin-bottom: 63px;
    }

    .box-login {
      width: 420px;

      .box-login-field.mb-3 {
        margin-bottom: 30px !important;
      }

      .box-login-field.mb-3:last-child {
        margin-bottom: 15px !important;
      }

      .area-account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        a {
          text-decoration: none;
          font-weight: normal;
        }
      }

      .area-btn {
        margin-top: 50px;

        button {
          display: block;
          width: 100%;
        }
      }

    }

  }

  // 페이지 레이아웃
  .wrap-page {
    padding: 20px;

    .title-page {
      font-size: 20px;

      .patient-text {
        display: inline-block;
        margin-left: 10px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

    }
  }


}

.fullscreen {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 99% !important;
  height: calc(100vh - 110px) !important;
  margin: 5px;
  z-index: 1000;
  padding: 5px 25px 50px 25px !important;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Custom button styles
========================================================================== */

.icon-button > .btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5rem;
  line-height: 1rem;

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temporary workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
}

/* other generic styles */

.title {
  font-size: 1.25em;
  margin: 1px 10px 1px 10px;
}

.description {
  font-size: 0.9em;
  margin: 1px 10px 1px 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

.error {
  color: white;
  background-color: red;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.break-word {
  white-space: normal;
  word-break: keep-all;
}

.preserve-space {
  white-space: pre-wrap;
}

/* padding helpers */

@mixin pad($size, $side) {
  @if $size== '' {
    @if $side== '' {
      .pad {
        padding: 10px !important;
      }
    } @else {
      .pad {
        padding-#{$side}: 10px !important;
      }
    }
  } @else {
    @if $side== '' {
      .pad-#{$size} {
        padding: #{$size}px !important;
      }
    } @else {
      .pad-#{$side}-#{$size} {
        padding-#{$side}: #{$size}px !important;
      }
    }
  }
}

@include pad('', '');
@include pad('2', '');
@include pad('3', '');
@include pad('5', '');
@include pad('10', '');
@include pad('20', '');
@include pad('25', '');
@include pad('30', '');
@include pad('50', '');
@include pad('75', '');
@include pad('100', '');
@include pad('4', 'top');
@include pad('5', 'top');
@include pad('10', 'top');
@include pad('20', 'top');
@include pad('25', 'top');
@include pad('30', 'top');
@include pad('50', 'top');
@include pad('75', 'top');
@include pad('100', 'top');
@include pad('4', 'bottom');
@include pad('5', 'bottom');
@include pad('10', 'bottom');
@include pad('20', 'bottom');
@include pad('25', 'bottom');
@include pad('30', 'bottom');
@include pad('50', 'bottom');
@include pad('75', 'bottom');
@include pad('100', 'bottom');
@include pad('5', 'right');
@include pad('10', 'right');
@include pad('20', 'right');
@include pad('25', 'right');
@include pad('30', 'right');
@include pad('50', 'right');
@include pad('75', 'right');
@include pad('100', 'right');
@include pad('5', 'left');
@include pad('10', 'left');
@include pad('20', 'left');
@include pad('25', 'left');
@include pad('30', 'left');
@include pad('50', 'left');
@include pad('75', 'left');
@include pad('100', 'left');

@mixin no-padding($side) {
  @if $side== 'all' {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* end of padding helpers */

.no-margin {
  margin: 0px;
}

@mixin voffset($size) {
  @if $size== '' {
    .voffset {
      margin-top: 2px !important;
    }
  } @else {
    .voffset-#{$size} {
      margin-top: #{$size}px !important;
    }
  }
}

@include voffset('');
@include voffset('5');
@include voffset('10');
@include voffset('15');
@include voffset('30');
@include voffset('40');
@include voffset('60');
@include voffset('80');
@include voffset('100');
@include voffset('150');

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
  cursor: pointer;
}

.hand {
  cursor: pointer;
}

button.anchor-btn {
  background: none;
  border: none;
  padding: 0;
  align-items: initial;
  text-align: initial;
  width: 100%;
}

a.anchor-btn:hover {
  text-decoration: none;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */

#threadDump .popover,
#healthCheck .popover {
  top: inherit;
  display: block;
  font-size: 10px;
  max-width: 1024px;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#healthCheck .popover {
  margin-left: -50px;
}

.health-details {
  min-width: 400px;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
  width: 1% !important;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.area-theme-toggle {
  position: absolute;
  left: 20px;
  bottom: 100px;
  color: #e7e7e7;
  cursor: pointer;
}

.area-logout-button {
  position: absolute;
  left: 20px;
  bottom: 140px;
  color: #e7e7e7;
  cursor: pointer;
}

.brand-icon {
  position: absolute;
  bottom: 34px;
  left: 0;
  width: var(--width-sidemenu);
  text-align: center;

  img {
    width: 123px;
  }
}
