.single-table-editor-wrapper {
  .MuiAccordionSummary-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px !important;
  }

  .dx-pager .dx-pages {
    float: left;
  }

}
