.reviewer-statistics-wrapper {
  article {
    display: flex;
    border-top: 1px solid #ccc;
  }

  .left-section {
    width: 50%;
    height: 90vh;
    border-right: 1px solid #ccc;
    padding: 20px;
  }

  .right-section {
    width: 50%;
    height: 90vh;
    padding: 20px;

    .top-section {
      height: 50%;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: center;
      padding: 10px;
      padding-bottom: 30px;
    }

    .bottom-section {
      height: 50%;
      overflow: scroll;
    }
  }
}
