.swal2-container {
  z-index: 9999 !important;
}

.swal2-wide-textarea-container {
  .swal2-popup {
    width: 50em;
  }

  .swal2-textarea {
    height: 30em;
  }
}


.single-table-editor-wrapper {
  .MuiAccordionSummary-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px !important;
  }
}


.multi-table-editor-popup {
  .dx-popup-title {
    padding: 14px 24px 0 24px;
    border-bottom: none;
  }

  .dx-datagrid .dx-datagrid-table .dx-header-row > td {
    padding: 10px 5px;
  }

  .dx-datagrid .dx-row-lines > td {
    padding: 10px 5px;
  }
}
