.swal2-container {
  z-index: 9999 !important;
}

.swal2-wide-textarea-container {
  .swal2-popup {
    width: 50em;
  }

  .swal2-textarea {
    height: 30em;
  }
}

.accessible-patient-wrapper {
  .dx-data-row.dx-state-hover > td:not(.dx-focused) {
    color: var(--color-text) !important;
    cursor: pointer;
  }
  .dx-pager .dx-pages {
    float: left;
  }
}
