<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.planit.cancerlibrary.mapper.DatasourceMapper">
    <select id="getSequenceNextValue" resultType="java.lang.String">
        SELECT NEXTVAL('sequence_generator')
    </select>

    <select id="executeSelectSQL" parameterType="io.planit.cancerlibrary.mapper.SQLAdapter" resultType="io.planit.cancerlibrary.mapper.LowerKeyMap">
        ${sql}
    </select>

    <insert id="executeInsertSQL" parameterType="io.planit.cancerlibrary.mapper.SQLAdapter">
        ${sql}
    </insert>

    <update id="executeUpdateSQL" parameterType="io.planit.cancerlibrary.mapper.SQLAdapter">
        ${sql}
    </update>
</mapper>
