<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.planit.cancerlibrary.mapper.PatientMapper">
    <select id="findAll" resultType="io.planit.cancerlibrary.service.dto.PatientDTO">
        SELECT *
        FROM TEST_PATIENT;
    </select>

    <select id="findAllByPatientNos" resultType="io.planit.cancerlibrary.service.dto.PatientDTO"
        parameterType="java.util.List">
        SELECT *
        FROM TEST_PATIENT
        WHERE PT_NO IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="io.planit.cancerlibrary.service.dto.PatientDTO">
        INSERT INTO TEST_PATIENT (PT_NO, PT_NM, SEX_TP_CD, PT_BRDY_DT, HSP_TP_CD, IDX_DT, STATUS, CREATED_BY,
                                  CREATED_DATE, LAST_MODIFIED_BY, LAST_MODIFIED_DATE)
        VALUES (#{ptNo}, #{ptNm}, #{sexTpCd}, #{ptBrdyDt}, #{hspTpCd}, #{idxDt}, #{status}, #{createdBy},
                #{createdDate}, #{lastModifiedBy}, #{lastModifiedDate});
    </insert>

    <select id="existsByPatientNo" resultType="boolean">
        SELECT COUNT(*)
        FROM TEST_PATIENT
        WHERE PT_NO = #{patientNo};
    </select>

    <select id="findByPatientNo" resultType="io.planit.cancerlibrary.service.dto.PatientDTO">
        SELECT *
        FROM TEST_PATIENT
        WHERE PT_NO = #{patientNo};
    </select>

    <update id="update" parameterType="io.planit.cancerlibrary.service.dto.PatientDTO">
        UPDATE TEST_PATIENT
        SET STATUS = #{status}, LAST_MODIFIED_BY = #{lastModifiedBy}, LAST_MODIFIED_DATE = #{lastModifiedDate}
        <trim prefix="," suffixOverrides=",">
            <if test="createdBy != null">
                CREATED_BY = #{createdBy},
            </if>
            <if test="createdDate != null">
                CREATED_DATE=#{createdDate},
            </if>
        </trim>
        WHERE PT_NO = #{ptNo};
    </update>
</mapper>
